body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  overflow-y: overlay
}

/* Nav */
.navbar-custom {
  box-shadow: .5px .5px .5px rgba(0, 0, 0, .2);
}  

.navbar-custom .nav-item {
  padding-left: .5rem;
}

.navbar-custom .navbar-nav .nav-link {
  color: rgba(0, 0, 0, .55);
}

.navbar-custom .navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, .85);
}

.navbar-custom button.navbar-toggler:focus { 
  outline: 1px none;  /*removes blue outline from toggler */
} 

.brand-logo { 
  color: rgba(0, 0, 0, .7);
  font-size: 1.6rem;
}

/* Form Errors */
.myForm .is-invalid {
  border-color:#ced4da;
}

.myForm .is-invalid:focus {
  border-color:#ced4da;
  box-shadow: none;
}


/* style filepicker */
input[type="file"] {
  visibility: hidden;
}

/* image preview */
.imagePreview .img-fluid {
  max-height: 120px;
  border-radius: 5px;
  margin-top: -10px;
}

/* no link style */
a { color: inherit; } 

/* filters dropdown */
.catSort {
  font-size: .92rem; 
}

/*  landing page header */
.main-header {
  height: 600px;
  position: relative;
  background-image: url('../src/images/mountains.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background:rgba(0, 0, 0, .48);
}

.header-button {
  animation: moveIn 2s ease-out;
}

.header-content-title {
  padding-top: 150px;
  animation: moveInLeft 1.5s ease-out;
}

.header-paragraph {
  animation: moveInRight 1.5s ease-out;
  font-size: 1.4rem;
}

@media (max-width: 768px) {

  .header-content-title {
      font-size: 3.2rem;
      margin-bottom: .6rem;
  }
  
  .header-paragraph {
      font-size: 1rem;
  }

}

/* Comment card*/
.myCard {
  padding: .8rem;
}

/* Comment form */
.myCommentButton {
  margin-top: -.5rem;
}

/* add space at bottom */
.addMarginToTop {
  margin-top: 5rem;
}

/* restrict height of images */
.myImage {
  max-height: 800px;
}

/*font awesone*/
/* .fa-heart, .fa-comment-alt {
  color: rgba(0, 0, 0, .6);
} */

/* link hover */
a:hover {
  color: rgba(0, 0, 0, .4);
  text-decoration: none;
}

/* animations */
@keyframes moveInLeft {
  0% {
      opacity: 0;
      transform: translateX(-5rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
      opacity: 0;
      transform: translateX(5rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

@keyframes moveIn {
  0% { opacity: 0; } 100% { opacity: 1; }
}